@import "shared";

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__prev,
  &__next {
    @include custom-button();
    height: 40px;
    width: 40px;
    border-radius: 50%;

    &.is-hidden {
      visibility: hidden;
    }
  }

  &__page-numbers {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    -webkit-padding-start: 0;

    .page-number {
      padding: 0 5px;

      &:hover {
        color: $third-color;
        cursor: pointer;
      }

      &-is-checked {
        color: $first-color;
        font-size: 1.4em;
      }
    }

  }
  .radio-button {
    display: none
  }
}