@import "shared";

.search-box {
  background-color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__label {
    font-size: 1.6em;
  }

  &__search-container {
    height: 40px;

    .search-input {
      width: 400px;
      padding: 8px;
      box-sizing: border-box;
      border: 1px solid #555;
      outline: none;
      height: inherit;

      &:focus {
        background-color: lighten($first-color, 20%);
      }

      @include respond-to(handhelds) {
        width: 100%;
      }
    }
  }

  &__submit-button {
    @include custom-button();
    height: inherit;
  }
}