$break-small: 600px;
$break-large: 1024px;
$main-font-family: "Segoe UI", "Georgia, serif";
$first-color: rgb(246, 116, 137);
$second-color: rgb(255, 223, 2144);
$third-color: #f3f3f3;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}


@mixin custom-button() {
  background: none repeat scroll 0 0 $first-color;
  border: medium none;
  color: white;
  cursor: pointer;
  margin-bottom: 26px;
  padding: 8px;
  border-radius: 5px;
  font-size: 1.2em;

  &:hover {
    background: lighten($first-color, 20%) none repeat scroll 0 0;
  }
}