@import "constants";

.book-box {
  border-radius: 10px;
  border: dashed $second-color;
  margin: 20px 0;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include respond-to(medium-screens) {
    height: 350px;
  }

  @include respond-to(handhelds) {
    height: initial;
  }

  h1 {
    font-size: 2em;
    color: $first-color;
    border-bottom: 1px solid $second-color;
    padding-bottom: 10px;
  }

  &__content {
    display: flex;
    justify-content: center;
    padding: 10px 30px;
    font-size: 1.1em;

    &-rows {
      text-align: left;
    }

    &-description {
      display: flex;
      flex-direction: column;
      align-items: baseline;
      padding-left: 10px;
      line-height: 1.7em;

      .desc {
        font-weight: bolder;
      }
    }

    @include respond-to(handhelds) {
      display: block;
      padding: 10px;
    }
  }

  &__button {

    button {
      background: none repeat scroll 0 0 $first-color;
      border: medium none;
      color: white;
      cursor: pointer;
      margin-bottom: 26px;
      padding: 8px;
      border-radius: 5px;
      font-size: 1.2em;
    }

    button:hover {
      background: lighten($first-color, 20%) none repeat scroll 0 0;
    }
  }
}
