@import "loader";
@import "single-book";
@import "shared";
@import "search-box";
@import "scroll-up";
@import "data-filters";
@import "filtered-list";

body,
html {
  font-family: $main-font-family;
  height: 100vh;
  text-align: center;
}

.search-container {
  min-height: 500px;
  background-color: white;
  width: 96%;
  margin: 0 auto;
}