@import "loader";
@import "single-book";
@import "shared";
@import "search-box";

body,
html {
  font-family: $main-font-family;
  height: 100vh;
}

.search-container {
  min-height: 500px;
  background-color: white;
  width: 96%;
}